.slick-slider{
    width: 410px;
  text-align: center;
  position: relative;
  margin-top: 30px;
   display: flex;
    margin-left: 0rem;
    
} 
button.slick-prev, button.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 120px;
  height: 80px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-slider .slick-initialized{
border: grey 1pt;
}