.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: space-between;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
   padding: 1rem;
   flex-grow: 2;
   background-color: white;
 
}
.card{
    width: 12rem;
    border-radius:0.5rem;
    margin: 1rem;
    margin-top: 3rem;
}
.swift-slider-container{
    width: 410px;
  text-align: center;
  
  margin-top: 30px;
 
    margin-left: 2rem;
    
}
.jaCHMg{
  top: 2rem;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


   
